@model NorthStorm.Models.Assistants.RankOther

@{
    Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
    ViewData["Title"] = "قيد جديد";
}

<h3>@ViewData["Title"]</h3>
<hr />


<div class="card bg-light mb-3">
    <div class="card-header">بيانات القيد</div>
    <form asp-action="Create" class="card-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="row col-md-12">
          
            
            <div class="form-group col-md-2">
                <label asp-for="RankAsNumber" class="control-label"></label>
                <input asp-for="RankAsNumber" class="form-control" />
                <span asp-validation-for="RankAsNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="RankAsWriting" class="control-label"></label>
                <input asp-for="RankAsWriting" class="form-control" />
                <span asp-validation-for="RankAsWriting" class="text-danger"></span>
            </div>

            <div class="form-group col-md-2">
                <label asp-for="RankAsFemale" class="control-label"></label>
                <input asp-for="RankAsFemale" class="form-control" />
                <span asp-validation-for="RankAsFemale" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="RankAsMale" class="control-label"></label>
                <input asp-for="RankAsMale" class="form-control" />
                <span asp-validation-for="RankAsMale" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="RankAsDistinction" class="control-label"></label>
                <input asp-for="RankAsDistinction" class="form-control" />
                <span asp-validation-for="RankAsDistinction" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="RankAsGeneral" class="control-label"></label>
                <input asp-for="RankAsGeneral" class="form-control" />
                <span asp-validation-for="RankAsGeneral" class="text-danger"></span>
            </div>

                      
            <div class="form-group col-md-2 align-self-end text-md-center">
                <input type="submit" value="حفظ" class="btn btn-primary w-75" />
            </div>
        </div>
    </form>
    <div class="card-footer">
        <br />

    </div>
</div>

<div>
    <a asp-action="Index">إلغاء</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
}