@model NorthStorm.Models.Recruitment

@{
    Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
    ViewData["Title"] = "الموظفين";
    ICollection<Employee> emp = ViewBag.emps;// (List<Employee>) ViewData["EmployeeWithourRecrutiment"];
}

<h1>إضافة موظف</h1>

<h4></h4>
<hr />
<p dir="ltr">
    <br />
</p>

<form asp-action="CreateDetails">
    <div class="card bg-light mb-3">
        <div class="card-header">بيانات القيد</div>
        <div class="card-body">
            <div class="row col-md-12">
                <input type="hidden" asp-for="Id" />
                <div class="form-group col-md-4">
                    <label asp-for="ReferenceNo" class="control-label"></label>
                    <input asp-for="ReferenceNo" class="form-control" readonly />
                    <span asp-validation-for="ReferenceNo" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="ReferenceDate" class="control-label"></label>
                    <input asp-for="ReferenceDate" class="form-control" readonly />
                    <span asp-validation-for="ReferenceDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Subject" class="control-label"></label>
                    <input asp-for="Subject" class="form-control" readonly />
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2 align-self-end text-md-center">
                </div>
            </div>
        </div>
        <div class="card-footer">
            <br />
        </div>
    </div>

    <div class="card bg-light mb-3">
        <div class="card-header">المعلومات الرئيسية</div>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row col-md-12">
                <div class="form-group col-md-2">
                    <label asp-for="Employees.LastOrDefault().Id" class="control-label"></label>
                    <input asp-for="Employees.LastOrDefault().Id" class="form-control" name="Employees[0].Id" />
                    <span asp-validation-for="Employees.LastOrDefault().Id" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Employees.LastOrDefault().FirstName" class="control-label"></label>
                    <input asp-for="Employees.LastOrDefault().FirstName" class="form-control" name="Employees[0].FirstName" />
                    <span asp-validation-for="Employees.LastOrDefault().FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Employees.LastOrDefault().MiddleName" class="control-label"></label>
                    <input asp-for="Employees.LastOrDefault().MiddleName" class="form-control" name="Employees[0].MiddleName" />
                    <span asp-validation-for="Employees.LastOrDefault().MiddleName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Employees.LastOrDefault().LastName" class="control-label"></label>
                    <input asp-for="Employees.LastOrDefault().LastName" class="form-control" name="Employees[0].LastName" />
                    <span asp-validation-for="Employees.LastOrDefault().LastName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Employees.LastOrDefault().FourthName" class="control-label"></label>
                    <input asp-for="Employees.LastOrDefault().FourthName" class="form-control" name="Employees[0].FourthName" />
                    <span asp-validation-for="Employees.LastOrDefault().FourthName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Employees.LastOrDefault().SurName" class="control-label"></label>
                    <input asp-for="Employees.LastOrDefault().SurName" class="form-control" name="Employees[0].SurName" />
                    <span asp-validation-for="Employees.LastOrDefault().SurName" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="form-group col-md-2">
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Employees.LastOrDefault().MotherFirstName" class="control-label"></label>
                    <input asp-for="Employees.LastOrDefault().MotherFirstName" class="form-control" name="Employees[0].MotherFirstName" />
                    <span asp-validation-for="Employees.LastOrDefault().MotherFirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Employees.LastOrDefault().MotherMiddleName" class="control-label"></label>
                    <input asp-for="Employees.LastOrDefault().MotherMiddleName" class="form-control" name="Employees[0].MotherMiddleName" />
                    <span asp-validation-for="Employees.LastOrDefault().MotherMiddleName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Employees.LastOrDefault().MotherLastName" class="control-label"></label>
                    <input asp-for="Employees.LastOrDefault().MotherLastName" class="form-control" name="Employees[0].MotherLastName" />
                    <span asp-validation-for="Employees.LastOrDefault().MotherLastName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                </div>
                <div class="form-group col-md-2">
                </div>
            </div>
            <div class="row col-md-12">
                <div class="form-group col-md-2">
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Employees.LastOrDefault().BirthDate" class="control-label"></label>
                    <input asp-for="Employees.LastOrDefault().BirthDate" class="form-control" name="Employees[0].BirthDate" />
                    <span asp-validation-for="Employees.LastOrDefault().BirthDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Employees.LastOrDefault().gender" class="control-label"></label>
                    <select asp-for="Employees.LastOrDefault().GenderId" class="form-control" asp-items="ViewBag.GenderId" name="Employees[0].GenderId">
                        <option value="">-- إختر الجنس --</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Employees.LastOrDefault().religion" class="control-label"></label>
                    <select asp-for="Employees.LastOrDefault().ReligionId" class="form-control" asp-items="ViewBag.ReligionId" name="Employees[0].ReligionId">
                        <option value="">-- إختر الديانة --</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Employees.LastOrDefault().race" class="control-label"></label>
                    <select asp-for="Employees.LastOrDefault().RaceId" class="form-control" asp-items="ViewBag.RaceId" name="Employees[0].RaceId">
                        <option value="">-- إختر القومية --</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Employees.LastOrDefault().nationality" class="control-label"></label>
                    <select asp-for="Employees.LastOrDefault().NationalityId" class="form-control" asp-items="ViewBag.NationalityId" name="Employees[0].NationalityId">
                        <option value="">-- إختر الجنسية --</option>
                    </select>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="form-group col-md-2">
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Employees.LastOrDefault().CivilNumber" class="control-label"></label>
                    <input asp-for="Employees.LastOrDefault().CivilNumber" class="form-control" name="Employees[0].CivilNumber" />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Employees.LastOrDefault().IBAN" class="control-label"></label>
                    <input asp-for="Employees.LastOrDefault().IBAN" class="form-control" name="Employees[0].IBAN" />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Employees.LastOrDefault().status" class="control-label"></label>
                    <select asp-for="Employees.LastOrDefault().StatusId" class="form-control" asp-items="ViewBag.StatusId" name="Employees[0].StatusId">
                        <option value="">-- إختر الحالة --</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                </div>
                <div class="form-group col-md-2 align-self-end text-md-end">
                    <input type="submit" value="حفظ" class="btn btn-primary w-100" />
                </div>
            </div>
        </div>
        <div class="card-footer">
            <br />

        </div>
    </div>

    <div class="card bg-light mb-3">
        <div class="card-header">المعلومات الوظيفية</div>
        <div class="table card-body">
            <div class="row col-md-12">
                <div class="form-group col-md-2">
@*                     <label asp-for="Employees.LastOrDefault().jo.JobTitles" class="control-label"></label>
                     <select asp-for="Employees.LastOrDefault().JobTitleId" class="form-control" asp-items="ViewBag.JobTitleId" name="Employees[0].JobTitle.JobTitleId">
                        <option value="">-- إختر العنوان الوظيفي --</option>
                    </select>
                </div>
                 <div class="form-group col-md-2">
                    <label asp-for="Employees.LastOrDefault().Level" class="control-label"></label>
                    <select asp-for="Employees.LastOrDefault().LevelId" class="form-control" asp-items="ViewBag.LevelId" name="Employees[0].Level.LevelId">
                        <option value="">-- إختر موقع العمل الهرمي --</option>
                    </select>
                </div> *@

            </div>

        </div>
        <div class="card-footer" style="height:50px"></div>

    </div>
</form>

<div>
    <a asp-action="Index">إلغاء</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
