@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    ViewData["Title"] = "NorthStorm ERP - حول النظام";
}

<main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
        <div class="container d-lg-flex justify-content-between align-items-center">
            <h1 class="mb-2 mb-lg-0">حول النظام</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="~/">الرئيسية</a></li>
                    <li class="current">حول النظام</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->
    <!-- About Section -->
    <section id="about" class="about section">

        <div class="container">

            <div class="row gy-4">
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <h3>بناء النظام</h3>
                    <img src="~/img/about.jpg" class="img-fluid rounded-4 mb-4" alt="">
                    <p style="text-align:justify">
                        كان مشروع بناء نظام NorthStorm ERP لشركة نفط الشمال تحديًا مثيرًا يتطلب تنسيقًا دقيقًا بين الفرق المختلفة. شملت العقبات التي واجهها الفريق مشكلات في تكامل البيانات من الأنظمة القديمة، وتعقيدات في تصميم واجهات المستخدم لتكون سهلة الاستخدام وشاملة. واجه الفريق أيضًا تحديات في ضمان أمان البيانات وحمايتها من التهديدات السيبرانية. بفضل التعاون الوثيق بين المطورين، والمحللين، ومديري المشروع، تم التغلب على هذه العقبات من خلال تبني أفضل الممارسات والتقنيات الحديثة، مما أدى إلى بناء نظام قوي وفعّال يلبي احتياجات الشركة ويعزز من كفاءتها التشغيلية
                    </p>
                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
                    <div class="content ps-0 ps-lg-5">
                        <p style="text-align:justify">
                            تطبيق نظام NorthStorm ERP في شركة نفط الشمال واجه تحديات كبيرة تتعلق بتهيئة النظام وتدريب الموظفين على استخدامه بفعالية. كانت من أبرز هذه التحديات مقاومة التغيير من قبل الموظفين، والتعامل مع التعقيدات التقنية للنظام، وضمان انتقال سلس من الأنظمة القديمة إلى النظام الجديد. تمت معالجة هذه التحديات من خلال تنظيم دورات تدريبية شاملة ودعم مستمر للموظفين.
                            <br/>
                            حيث تمت عملية تطبيق النظام على ثلاث مراحل
                        </p>
                        <ul>
                            <li><i class="bi bi-check-circle-fill"></i><span>مرحلة التحليل والتخطيط.</span></li>
                            <li><i class="bi bi-check-circle-fill"></i> <span>مرحلة التطوير والتكامل.</span></li>
                            <li><i class="bi bi-check-circle-fill"></i> <span>مرحلة التدريب والتطبيق الفعلي.</span></li>
                        </ul>
                        <p style="text-align:justify">
                            أسهم النظام الجديد في تحسين الكفاءة التشغيلية، وزيادة دقة البيانات، وتعزيز أمان المعلومات، مما مكن الشركة من اتخاذ قرارات مستنيرة وسريعة. يُعد هذا المشروع خطوة استراتيجية نحو تحقيق أهداف الشركة المستقبلية، وتعزيز قدرتها التنافسية في قطاع النفط والغاز.
                        </p>

                        <div class="position-relative mt-4">
                            <img src="~/img/about-2.jpg" class="img-fluid rounded-4" alt="">
                            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox pulsating-play-btn"></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section><!-- /About Section -->
    <!-- Team Section -->
    <section id="team" class="team section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>فريق العمل</h2>
            <p>نخبة من الموظفين المتفانين الذين جمعهم التعاون والإبداع لتحقيق أهداف مشروع نظام NorthStorm ERP بنجاح</p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="team-member">
                        <div class="member-img">
                            <img src="~/img/team/team-4.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>سميرة جاسم محمد</h4>
                            <span>رئيسة الفريق</span>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="team-member">
                        <div class="member-img">
                            <img src="~/img/team/team-11.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>خالد صدام كاظم</h4>
                            <span>نائب رئيس الفريق</span>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="team-member">
                        <div class="member-img">
                            <img src="~/img/team/arkan.png" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>اركان يحيى نوح</h4>
                            <span>مطور برامج</span>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                    <div class="team-member">
                        <div class="member-img">
                            <img src="~/img/team/team-4.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>سمية لطفي باسم</h4>
                            <span>محللة أمنية</span>
                        </div>
                    </div>
                </div><!-- End Team Member -->

            </div>

        </div>

    </section><!-- /Team Section -->
    <!-- Skills Section -->
    <section id="skills" class="skills section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>المهارات</h2>
            <p>مهارات فنية عالية في تطوير الأنظمة وتكامل البيانات وقدرات متميزة في إدارة تدريب الموظفين</p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row skills-content skills-animation">

                <div class="col-lg-6">

                    <div class="progress">
                        <span class="skill"><span>HTML</span> <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div><!-- End Skills Item -->

                    <div class="progress">
                        <span class="skill"><span>CSS</span> <i class="val">75%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div><!-- End Skills Item -->

                    <div class="progress">
                        <span class="skill"><span>JavaScript</span> <i class="val">60%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div><!-- End Skills Item -->

                </div>

                <div class="col-lg-6">

                    <div class="progress">
                        <span class="skill"><span>ASP</span> <i class="val">85%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div><!-- End Skills Item -->

                    <div class="progress">
                        <span class="skill"><span>MSSQL</span> <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div><!-- End Skills Item -->

                    <div class="progress">
                        <span class="skill"><span>C#</span> <i class="val">60%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div><!-- End Skills Item -->

                </div>

            </div>

        </div>

    </section><!-- /Skills Section -->
    <!-- Clients Section -->
    <section id="clients" class="clients section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>أنظمة ERP</h2>
            <p>أنظمة متنوعة توفر العديد من الحلول المتكاملة</p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row g-0 clients-wrap">

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="~/img/clients/client-11.png" class="img-fluid" alt="">
                </div><!-- End Client Item -->

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="~/img/clients/client-22.png" class="img-fluid" alt="">
                </div><!-- End Client Item -->

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="~/img/clients/client-33.png" class="img-fluid" alt="">
                </div><!-- End Client Item -->

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="~/img/clients/client-44.png" class="img-fluid" alt="">
                </div><!-- End Client Item -->

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="~/img/clients/client-55.png" class="img-fluid" alt="">
                </div><!-- End Client Item -->

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="~/img/clients/client-66.png" class="img-fluid" alt="">
                </div><!-- End Client Item -->

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="~/img/clients/client-77.png" class="img-fluid" alt="">
                </div><!-- End Client Item -->

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="~/img/clients/client-88.png" class="img-fluid" alt="">
                </div><!-- End Client Item -->

            </div>

        </div>

    </section><!-- /Clients Section -->

</main>