@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    ViewData["Title"] = "NorthStorm ERP - إتفاقية الاستخدام";
}

<main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
        <div class="container d-lg-flex justify-content-between align-items-center">
            <h1 class="mb-2 mb-lg-0">إتفاقية الاستخدام</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="~/">الرئيسية</a></li>
                    <li class="current">إتفاقية الاستخدام</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->

    <div class="container">
        <div class="row">

            <div class="col-lg-12">

                <!-- Blog Details Section -->
                <section id="blog-details" class="blog-details section">
                    <div class="container">

                        <article class="article">

                            <h2 class="title">إتفاقية استخدام نظام NorthStorm ERP لشركة نفط الشمال</h2>

                            <div class="meta-top">
                                <ul>
                                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">فريق العمل</a></li>
                                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2020-01-01"> 20 / 7 / 2024</time></a></li>
                                </ul>
                            </div><!-- End meta top -->

                            <div class="content">
                               <p style="text-align:justify">
                                    ترحب شركة نفط الشمال بكم في نظام NorthStorm ERP . يُرجى قراءة هذه الاتفاقية بعناية، حيث تشكل شروط وأحكام استخدام النظام. باستخدام النظام، فإنك توافق على الالتزام بكافة الشروط والأحكام المذكورة في هذه الاتفاقية.

                                </p>


                                <h3 class="title">القبول</h3>

                               <p style="text-align:justify">
                                    استخدامك للنظام يعني قبولك الكامل وغير المشروط لشروط وأحكام هذه الاتفاقية. إذا كنت لا توافق على أي جزء من هذه الشروط، يجب عليك التوقف عن استخدام النظام فورًا.
                                </p>

                                <h3>الوصول والاستخدام</h3>
                               <p style="text-align:justify">
                                    <b>الوصول:</b> يتم منحك حقًا غير حصري وغير قابل للنقل للوصول واستخدام النظام وفقًا لشروط هذه الاتفاقية.<br />
                                    <b>الاستخدام المقبول:</b>يجب عليك استخدام النظام فقط للأغراض القانونية والمشروعة. يُحظر استخدام النظام لأي أغراض غير قانونية أو غير مشروعة أو تنتهك حقوق الآخرين.
                                </p>

                                <h3>حساب المستخدم</h3>
                               <p style="text-align:justify">
                                    <b>إنشاء الحساب:</b>يجب عليك إنشاء حساب لاستخدام النظام. يجب تقديم معلومات دقيقة وكاملة عند التسجيل، والالتزام بتحديث هذه المعلومات عند حدوث أي تغييرات.<br/>
                                    <b>أمان الحساب:</b> أنت مسؤول عن الحفاظ على سرية معلومات حسابك، بما في ذلك اسم المستخدم وكلمة المرور. يجب عليك إخطار الشركة فورًا بأي استخدام غير مصرح به لحسابك.
                                </p>

                                <h3>جمع واستخدام المعلومات</h3>
                               <p style="text-align:justify">
                                    <b>المعلومات الشخصية:</b> يجوز للشركة جمع المعلومات الشخصية من المستخدمين كما هو موضح في سياسة الخصوصية الخاصة بنا. باستخدام النظام، فإنك توافق على جمع واستخدام المعلومات الشخصية وفقًا لهذه السياسة.<br />
                                    <b>الاستخدام المهني:</b> يُسمح باستخدام النظام فقط للأغراض المهنية المتعلقة بأعمال الشركة. أي استخدام آخر يتطلب موافقة خطية مسبقة من الشركة.
                                </p>

                                <h3>حقوق الملكية الفكرية</h3>
                               <p style="text-align:justify">
                                    <b>الملكية:</b> جميع حقوق الملكية الفكرية المتعلقة بالنظام وأي محتوى يتم توفيره من خلاله هي ملك للشركة أو الجهات المرخصة لها.<br />
                                    <b>الاستخدام المحدود:</b> يُحظر نسخ أو تعديل أو توزيع أو إعادة نشر أي جزء من النظام دون إذن خطي مسبق من الشركة.
                                </p>

                                <h3>السرية</h3>
                               <p style="text-align:justify">
                                    <b>حماية المعلومات:</b> تتعهد الشركة بحماية سرية المعلومات التي يتم جمعها من خلال النظام، وعدم الكشف عنها لأي طرف غير مصرح له.<br />
                                    <b>التعهد بعدم التسريب:</b> يتعهد المستخدم بعدم تسريب أي معلومات سرية يتم الوصول إليها من خلال النظام. يشمل ذلك، على سبيل المثال لا الحصر، البيانات الشخصية والمهنية والتقنية.
                                </p>

                                <h3>التحديثات والصيانة</h3>
                                <p style="text-align:justify">
                                    <b>التحديثات:</b> قد تقوم الشركة بإجراء تحديثات أو تحسينات على النظام من وقت لآخر. سيتم إبلاغ المستخدمين بأي تغييرات جوهرية.<br />
                                    <b>الصيانة:</b> قد يتطلب النظام صيانة دورية، مما قد يؤدي إلى فترات توقف مؤقتة. تسعى الشركة إلى تقليل تأثير هذه الفترات على المستخدمين.
                                </p>

                                <h3>التبعات القانونية لسوء الاستخدام</h3>
                                <p style="text-align:justify">
                                    <b>سوء الاستخدام:</b> أي استخدام غير قانوني أو غير مصرح به للنظام سيؤدي إلى اتخاذ إجراءات قانونية صارمة ضد المخالفين.<br />
                                    <b>الإجراءات التأديبية:</b> تشمل الإجراءات التأديبية الممكنة الفصل من العمل ورفع دعاوى قانونية لتعويض الأضرار الناجمة عن سوء الاستخدام.
                                </p>

                                <h3>إنهاء الاستخدام</h3>
                                <p style="text-align:justify">
                                    تحتفظ الشركة بالحق في إنهاء أو تعليق وصول المستخدم إلى النظام في أي وقت، دون إشعار مسبق، إذا اعتبرت أن المستخدم قد انتهك أي جزء من هذه الاتفاقية.
                                </p>

                                <h3>إخلاء المسؤولية</h3>
                                <p style="text-align:justify">
                                    <b>عدم الضمان:</b> يتم توفير النظام "كما هو" و"كما هو متاح" دون أي ضمانات من أي نوع، سواء كانت صريحة أو ضمنية.<br/>
                                    <b>القيود:</b> لا تتحمل الشركة أي مسؤولية عن أي أضرار ناتجة عن استخدام النظام أو عدم القدرة على استخدامه.
                                </p>

                                <h3>القوانين الحاكمة</h3>
                                <p style="text-align:justify">
                                    تخضع هذه الاتفاقية وتفسر وفقًا لقوانين الدولة التي تقع فيها الشركة. أي نزاع ينشأ عن هذه الاتفاقية يجب أن يتم تسويته أمام المحاكم المختصة في تلك الدولة.
                                </p>

                                <h3>التعديلات على الاتفاقية</h3>
                                <p style="text-align:justify">
                                    تحتفظ الشركة بالحق في تعديل شروط وأحكام هذه الاتفاقية من وقت لآخر. سيتم إبلاغ المستخدمين بأي تغييرات جوهرية من خلال إشعارات داخل النظام أو عبر البريد الإلكتروني.
                                </p>

                                <h3>الاتصال بنا</h3>
                                <p style="text-align:justify">
                                    إذا كانت لديك أي استفسارات أو تعليقات حول هذه الاتفاقية، يرجى الاتصال بفريق العمل.
                                </p>

                                <hr/>

                               <p style="text-align:justify">
                                    تؤكد شركة نفط الشمال على التزامها بتوفير نظام آمن وفعال يلبي احتياجات المستخدمين، مع الحفاظ على أعلى مستويات السرية والأمان للمعلومات. شكراً لاستخدامكم نظام NorthStorm ERP
                                </p>
                            </div><!-- End post content -->

                            <div class="meta-bottom">
                                <i class="bi bi-folder"></i>
                                <ul class="cats">
                                    <li><a href="#">القانونية</a></li>
                                </ul>

                                <i class="bi bi-tags"></i>
                                <ul class="tags">
                                    <li><a href="#">اتفاقية الاستخدام</a></li>
                                    <li><a href="#">الالتزام الفانوني</a></li>
                                </ul>
                            </div><!-- End meta bottom -->

                        </article>

                    </div>
                </section><!-- /Blog Details Section -->
                <!-- Blog Author Section -->
                <section id="blog-author" class="blog-author section">

                    <div class="container">
                        <div class="author-container d-flex align-items-center">
                            <img src="~/Images/northstorm.png" class="rounded-circle flex-shrink-0" alt="">
                            <div>
                                <h4>فريق العمل</h4>
                                <div class="social-links">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="biu bi-instagram"></i></a>
                                </div>
                                <p>
                                    فريق عمل تطوير أنظمة NorthStorm ERP في شركة نفط الشمال
                                </p>
                            </div>
                        </div>
                    </div>

                </section><!-- /Blog Author Section -->

            </div>


        </div>
    </div>

</main>
