@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    ViewData["Title"] = "NorthStorm ERP - مركز بابا الثقافي والاجتماعي";
}

<main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
        <div class="container d-lg-flex justify-content-between align-items-center">
            <h1 class="mb-2 mb-lg-0">مركز بابا الثقافي والاجتماعي</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="~/">الرئيسية</a></li>
                    <li class="current">مركز بابا الثقافي والاجتماعي</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->

    <div class="container">
        <div class="row">

            <div class="col-lg-12">

                <!-- Blog Posts Section -->
                <section id="blog-posts" class="blog-posts section">

                    <div class="container">

                        <div class="row gy-4">
                            <div class="col-6">
                                <article>

                                    <div class="post-img">
                                        <img src="~/img/cinema/music2.jpg" alt="" class="img-fluid" width="100%">
                                    </div>

                                    <h2 class="title">
                                        <a href="">أمسية غنائية شعبية</a>
                                    </h2>

                                    <div class="meta-top">
                                        <ul>
                                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">أمسية غنائية</a></li>
                                            <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-01-01">1/9/2024</time></a></li>
                                            <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">10 تعليق</a></li>
                                        </ul>
                                    </div>

                                    <div class="content">
                                        <p style="text-align:justify">
                                            ننتظركم في امسية يوم السبت 6/7 عميد الاغنية الريفية الفنان رعد الناصري و الفنانة نانسي خوري🎤 <br/>
                                            ⭕️سعر التذكرة 25 الف غير شاملة الوجبة 🍽️<br/>
                                            ⭕️تبدأ الامسية من الساعة 8:30م الى الساعة 11:30م 🕛<br/>
                                            ⭕️تكون الأمسية في الحدائق الخارجية<br/>
                                        </p>
                                        <div class="read-more" style="text-align: left;">
                                            <a href="#" class="btn btn-primary">إحجز الآن</a>
                                        </div>
                                    </div>
                                </article>

                            </div><!-- End post list item -->

                            <div class="col-6">
                                <article>

                                    <div class="post-img">
                                        <img src="~/img/cinema/music4.jpg" alt="" class="img-fluid" width="100%">
                                    </div>

                                    <h2 class="title">
                                        <a href="">أمسية غنائية جالغي البغدادي</a>
                                    </h2>

                                    <div class="meta-top">
                                        <ul>
                                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">أمسية غنائية</a></li>
                                            <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-01-01">1/9/2024</time></a></li>
                                            <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">10 تعليق</a></li>
                                        </ul>
                                    </div>

                                    <div class="content">
                                        <p style="text-align:justify">
                                            ننتظركم في امسية يوم الاثنين 1/7 مع الفنان قيس الأعظمي و الفنان زياد الهاجري و فرقته<br/>
                                            ⭕️سعر التذكرة 25 الف غير شاملة الوجبة 🍽️<br />
                                            ⭕️تبدأ الامسية من الساعة 8:30م الى الساعة 11:30م 🕛<br />
                                            ⭕️تكون الأمسية في الحدائق الخارجية<br />
                                        </p>
                                        <div class="read-more" style="text-align: left;">
                                            <a href="#" class="btn btn-primary">إحجز الآن</a>
                                        </div>
                                    </div>
                                </article>

                            </div><!-- End post list item -->

                            <div class="col-6">
                                <article>

                                    <div class="post-img">
                                        <img src="~/img/cinema/music6.jpg" alt="" class="img-fluid" width="100%">
                                    </div>

                                    <h2 class="title">
                                        <a href="">أمسية موسيقية غربية</a>
                                    </h2>

                                    <div class="meta-top">
                                        <ul>
                                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">موسيقى</a></li>
                                            <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-01-01">5/9/2024</time></a></li>
                                            <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">28 تعليق</a></li>
                                        </ul>
                                    </div>

                                    <div class="content">
                                        <p style="text-align:justify">
                                            أمسية موسيقية غربية على أنغام البيانو مع العازفJurrivh 
                                        </p>
                                        <div class="read-more" style="text-align: left;">
                                            <a href="#" class="btn btn-primary">إحجز الآن</a>
                                        </div>
                                    </div>
                                </article>

                            </div><!-- End post list item -->
                            
                            <div class="col-6">
                                <article>

                                    <div class="post-img">
                                        <img src="~/img/cinema/music7.jpg" alt="" class="img-fluid" width="100%">
                                    </div>

                                    <h2 class="title">
                                        <a href="">أمسية موسيقية شرقية</a>
                                    </h2>

                                    <div class="meta-top">
                                        <ul>
                                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">موسيقى</a></li>
                                            <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-01-01">5/9/2024</time></a></li>
                                            <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">28 تعليق</a></li>
                                        </ul>
                                    </div>

                                    <div class="content">
                                        <p style="text-align:justify">
                                            أمسية موسيقية شرقية - يوم العود
                                        </p>
                                        <div class="read-more" style="text-align: left;">
                                            <a href="#" class="btn btn-primary">إحجز الآن</a>
                                        </div>
                                    </div>
                                </article>

                            </div><!-- End post list item -->

   
                        </div><!-- End blog posts list -->

                    </div>

                </section><!-- /Blog Posts Section -->
                <!-- Blog Pagination Section -->
                <section id="blog-pagination" class="blog-pagination section">

                    <div class="container">
                        <div class="d-flex justify-content-center">
                            <ul>
                                <li><a href="#"><i class="bi bi-chevron-right"></i></a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#" class="active">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li>...</li>
                                <li><a href="#">10</a></li>
                                <li><a href="#"><i class="bi bi-chevron-left"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </section><!-- /Blog Pagination Section -->

            </div>


        </div>
    </div>

</main>