@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    ViewData["Title"] = "NorthStorm ERP - سينما الحقول";
}

<main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
        <div class="container d-lg-flex justify-content-between align-items-center">
            <h1 class="mb-2 mb-lg-0">سينما الحقول</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="~/">الرئيسية</a></li>
                    <li class="current">سينما الحقول</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->

    <div class="container">
        <div class="row">

            <div class="col-lg-12">

                <!-- Blog Posts Section -->
                <section id="blog-posts" class="blog-posts section">

                    <div class="container">

                        <div class="row gy-4">
                            <div class="col-8">
                                <article>

                                    <div class="post-img">
                                        <video width="100%" height="100%" controls autoplay loop>
                                            <source src="~/img/cinema/movie3.mp4" type="video/mp4">
                                            متصفحك لا يدعم تشغيل الفيديو.
                                        </video>
                                    </div>

                                    <h2 class="title">
                                        <a href="">فـلــم الانيمشين Despicable Me 4(2024)</a>
                                    </h2>

                                    <div class="meta-top">
                                        <ul>
                                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">رسوم متحركة، مغامرة، فكاهة</a></li>
                                            <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-01-01">20/8/2024</time></a></li>
                                            <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">25 تعليق</a></li>
                                        </ul>
                                    </div>

                                    <div class="content">
                                        <p style="text-align:justify">
                                            يعيد شخصية جرو وعائلته في مغامرة جديدة. ينتقل جرو وعائلته إلى ضاحية جديدة، حيث تواجه العائلة عدوًا جديدًا يدعى ماكسيم لو مال وصديقته فالنتينا. ينضم جرو الابن إلى العائلة، ويخطط مع جرو لسرقة تمثال المدرسة، مما يقود إلى سلسلة من المغامرات الكوميدية.
                                        </p>
                                    </div>

                                </article>

                            </div><!-- End post list item -->
                            <div class="col-4">
                                <article>

                                    <div class="post-img">
                                        <img src="~/img/cinema/movie3.jpg" alt="" class="img-fluid">
                                    </div>

                                    <h2 class="title">
                                        <a href="">كل يوم أحد على قاعة سينما الحقول</a>
                                    </h2>

                                    <div class="content">
                                        <p style="text-align:justify">
                                            العرض الأول / 5 مساء ،
                                            العرض الثاني / 7 مساء
                                        </p>

                                        <div class="read-more" style="text-align: left;">
                                            <a href="#" class="btn btn-primary">إحجز الآن</a>
                                        </div>
                                    </div>

                                </article>

                            </div><!-- End post list item -->

                            <div class="col-8">
                                <article>

                                    <div class="post-img">
                                        <video width="100%" height="100%" controls autoplay loop>
                                            <source src="~/img/cinema/movie2.mp4" type="video/mp4">
                                            متصفحك لا يدعم تشغيل الفيديو.
                                        </video>
                                    </div>

                                    <h2 class="title">
                                        <a href="">فـلــم الرعب Beetlejuice Beetlejuice(2024)</a>
                                    </h2>

                                    <div class="meta-top">
                                        <ul>
                                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">فكاهة، خيال، رعب</a></li>
                                            <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-01-01">25/8/2024</time></a></li>
                                            <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">20 تعليق</a></li>
                                        </ul>
                                    </div>

                                    <div class="content">
                                        <p style="text-align:justify">
                                            إخراج تيم بورتون، يعيد إحياء الشخصية الشهيرة بيتلجوس. يعود مايكل كيتون بدور بيتلجوس، إلى جانب وينونا رايدر وكاثرين أوهارا. بعد مأساة عائلية، تعود ثلاثة أجيال من عائلة ديتز إلى منزلهم في وينتر ريفر، حيث تفتح ابنة ليديا، أستريد، بوابة إلى العالم الآخر، ما يستدعي عودة بيتلجوس ويجلب الفوضى.
                                        </p>
                                    </div>

                                </article>

                            </div><!-- End post list item -->
                            <div class="col-4">
                                <article>

                                    <div class="post-img">
                                        <img src="~/img/cinema/movie2.jpg" alt="" class="img-fluid">
                                    </div>

                                    <h2 class="title">
                                        <a href="">كل يوم خميس على قاعة سينما الحقول</a>
                                    </h2>

                                    <div class="content">
                                        <p style="text-align:justify">
                                            العرض الأول / 5 مساء ،
                                            العرض الثاني / 7 مساء
                                        </p>

                                        <div class="read-more" style="text-align: left;">
                                            <a href="#" class="btn btn-primary">إحجز الآن</a>
                                        </div>
                                    </div>

                                </article>

                            </div><!-- End post list item -->

                            <div class="col-8">
                                <article>

                                    <div class="post-img">
                                        <video width="100%" height="100%" controls autoplay loop>
                                            <source src="~/img/cinema/movie1.mp4" type="video/mp4">
                                            متصفحك لا يدعم تشغيل الفيديو.
                                        </video>
                                    </div>

                                    <h2 class="title">
                                        <a href="">فـلــم التشويق والإثارة Lee(2023)</a>
                                    </h2>

                                    <div class="meta-top">
                                        <ul>
                                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">سيرة ذاتية، دراما، تاريخي</a></li>
                                            <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-01-01">8/8/2024</time></a></li>
                                            <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">12 تعليق</a></li>
                                        </ul>
                                    </div>

                                    <div class="content">
                                        <p style="text-align:justify">
                                            "لي" لعام 2023 يحكي قصة إليزابيث "لي" ميلر، عارضة الأزياء التي تحولت إلى مصورة حربية بارزة خلال الحرب العالمية الثانية. الفيلم يستعرض تغطيتها لأحداث مهمة مثل تحرير باريس ومعسكرات الاعتقال، وتأثير تجربتها على حياتها الشخصية. بطولة كيت وينسلت
                                        </p>
                                    </div>

                                </article>

                            </div><!-- End post list item -->
                            <div class="col-4">
                                <article>

                                    <div class="post-img">
                                        <img src="~/img/cinema/movie1.jpg" alt="" class="img-fluid">
                                    </div>

                                    <h2 class="title">
                                        <a href="">كل يوم ثلاثاء على قاعة سينما الحقول</a>
                                    </h2>

                                    <div class="content">
                                        <p style="text-align:justify">
                                            العرض الأول / 5 مساء ،
                                            العرض الثاني / 7 مساء
                                        </p>

                                        <div class="read-more" style="text-align: left;">
                                            <a href="#" class="btn btn-primary">إحجز الآن</a>
                                        </div>
                                    </div>

                                </article>

                            </div><!-- End post list item -->



                        </div><!-- End blog posts list -->

                    </div>

                </section><!-- /Blog Posts Section -->
                <!-- Blog Pagination Section -->
                <section id="blog-pagination" class="blog-pagination section">

                    <div class="container">
                        <div class="d-flex justify-content-center">
                            <ul>
                                <li><a href="#"><i class="bi bi-chevron-right"></i></a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#" class="active">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li>...</li>
                                <li><a href="#">10</a></li>
                                <li><a href="#"><i class="bi bi-chevron-left"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </section><!-- /Blog Pagination Section -->

            </div>


        </div>
    </div>

</main>