@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    ViewData["Title"] = "NorthStorm ERP - الرئيسية";
}

<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

        <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

            <div class="carousel-item active">
                <img src="~/Images/slide1.webp" alt="">
                <div class="container">
                    <h2>حلول احترافية</h2>
                    <p>تُمكِّنك من دمج جميع عمليات الشركة وإجراءتاها عبر منصة واحدة، مما يسهم في تحسين الكفاءة وتقليل التكاليف.</p>
                    <a href="#featured-services" class="btn-get-started">الدخول للنظام</a>
                </div>
            </div><!-- End Carousel Item -->

            <div class="carousel-item">
                <img src="~/Images/slide2.webp" alt="">
                <div class="container">
                    <h2>قرارات أكثر دقة</h2>
                    <p>توفر حلول للتحليلات المتقدمة وإدارة ذكية للموارد، مما يعزز من قدرة الشركة على اتخاذ قرارات مبنية على بيانات دقيقة وفي الوقت المناسب.</p>
                    <a href="#featured-services" class="btn-get-started">الدخول للنظام</a>
                </div>
            </div><!-- End Carousel Item -->

            <div class="carousel-item">
                <img src="~/Images/slide3.webp" alt="">
                <div class="container">
                    <h2>تنسيق وتوافقية</h2>
                    <p>يوفر نظام الـERP تكاملًا سلسًا بين مختلف أقسام الشركة، الموارد البشرية، المبيعات، والمشتريات، والمخزون ... إلخ.</p>
                    <a href="#featured-services" class="btn-get-started">الدخول للنظام</a>
                </div>
            </div><!-- End Carousel Item -->

            <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <ol class="carousel-indicators"></ol>

        </div>

    </section><!-- /Hero Section -->
    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section light-background">

        <div class="container">

            <div class="row" data-aos="zoom-in" data-aos-delay="100">
                <div class="col-xl-9 text-center text-xl-start">
                    <h3>نظام NorthStorm ERP</h3>
                    <p>يمثل برنامج تخطيط موارد المؤسسات (ERP) نظامًا برمجيًا متكاملًا يهدف إلى إدارة وتنسيق جميع الموارد والعمليات والمعلومات في المؤسسة عبر منصة واحدة. يشمل ذلك مجموعة واسعة من الوظائف مثل إدارة الموارد البشرية، والمالية، والمشتريات، والمخازن، ، والمبيعات، والإنتاج. يساهم برنامج ERP في تحسين الكفاءة التشغيلية، تعزيز الشفافية في العمليات، وتحسين اتخاذ القرارات من خلال تقديم بيانات دقيقة وفي الوقت الحقيقي.</p>
                </div>
                <div class="col-xl-3 cta-btn-container text-center d-flex align-items-center justify-content-center">
                    <a class="cta-btn align-middle" href="#">معرفة المزيد</a>
                </div>
            </div>

        </div>

    </section><!-- /Call To Action Section -->
    <!-- Services Section -->
    <section id="services" class="services section">

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-people"></i>
                        </div>
                        <a href="#" class="stretched-link">
                            <h3>ERP الموارد البشرية</h3>
                        </a>
                        <p style="text-align:justify;"> ويهدف إلى إدارة كافة جوانب عمليات الموارد البشرية داخل المؤسسة ويشمل ذلك إدارة الرواتب، وتطوير الموظفين، والتوظيف، وإدارة الأداء، والحضور والانصراف. يساعد هذا النظام في تبسيط العمليات الإدارية، تحسين كفاءة إدارة الموارد البشرية، وتوفير رؤية شاملة حول بيانات الموظفين لتسهيل اتخاذ القرارات الاستراتيجية.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-coin"></i>
                        </div>
                        <a href="#" class="stretched-link">
                            <h3>ERP الموارد المالية</h3>
                        </a>
                        <p style="text-align:justify;">يهدف إلى إدارة كافة العمليات المالية ويشمل المحاسبة العامة، وإدارة الحسابات الدائنة والمدينة، وإدارة الأصول الثابتة، والتخطيط المالي، وإعداد التقارير المالية ويساعد في تبسيط العمليات المالية وتحسين دقتها وتوفير رؤية شاملة حول الوضع المالي للمؤسسة، مما يعزز من قدرة الشركة على اتخاذ قرارات مالية مستنيرة واستراتيجية.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-droplet-half"></i>
                        </div>
                        <a href="#" class="stretched-link">
                            <h3>ERP الإنتاج</h3>
                        </a>
                        <p style="text-align:justify;"> ويشمل تخطيط الإنتاج وإدارة العمليات وجدولة العمل ومراقبة الجودة وإدارة المخزون وتتبع تكاليف الإنتاج ويساعد هذا النظام في تحسين كفاءة عمليات الإنتاج، تقليل التكاليف، زيادة الإنتاجية، وضمان جودة المنتجات النهائية. كما يوفر رؤية شاملة في الوقت الحقيقي حول جميع مراحل الإنتاج، مما يسهم في اتخاذ قرارات استراتيجية وتحسين العمليات التشغيلية.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-cash"></i>
                        </div>
                        <a href="#" class="stretched-link">
                            <h3>ERP المبيعات</h3>
                        </a>
                        <p style="text-align:justify;">ويشمل ذلك إدارة الطلبات، وتتبع العملاء، وإدارة علاقات العملاء (CRM)، وإعداد الفواتير، وتحليل المبيعات. يساعد هذا النظام في تحسين كفاءة عمليات المبيعات، تعزيز تجربة العملاء، وزيادة الإيرادات من خلال تقديم رؤى مستندة إلى البيانات حول أداء المبيعات والاتجاهات السوقية. كما يسهم في تحسين التنسيق بين فرق المبيعات والأقسام الأخرى لضمان تحقيق الأهداف الاستراتيجية للمؤسسة.</p>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-cart3"></i>
                        </div>
                        <a href="#" class="stretched-link">
                            <h3>ERP المشتريات</h3>
                        </a>
                        <p style="text-align:justify;">ويشمل ذلك إدارة طلبات الشراء، واختيار الموردين، وتتبع أوامر الشراء، وإدارة العقود، ومراقبة المخزون ويساعد هذا النظام في تحسين كفاءة عمليات الشراء، تقليل التكاليف، وضمان توفر المواد اللازمة في الوقت المناسب. كما يعزز من القدرة على التفاوض مع الموردين من خلال تقديم بيانات دقيقة وتحليلات مفصلة.</p>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-hospital"></i>
                        </div>
                        <a href="#" class="stretched-link">
                            <h3>ERP المخازن</h3>
                        </a>
                        <p style="text-align:justify;">ويشمل ذلك تتبع مستويات المخزون، وإدارة المواقع، وإجراء عمليات الجرد، وتسهيل استلام وتسليم البضائع، وإدارة الطلبات ويساعد في تحسين كفاءة إدارة المخزون، تقليل الفاقد والتكاليف، وضمان توفر المواد والمنتجات عند الحاجة. كما يوفر رؤية شاملة وفورية حول حالة المخزون، مما يسهم في اتخاذ قرارات أفضل وتحسين العمليات التشغيلية.</p>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div><!-- End Service Item -->

            </div>

        </div>

    </section><!-- /Services Section -->
    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

        <div class="container">

            <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

                <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                    <li data-filter="*" class="filter-active">الكل</li>
                    <li data-filter=".filter-app">الموارد البشرية</li>
                    <li data-filter=".filter-product">الإنجازات</li>
                    <li data-filter=".filter-branding">الإنتاج</li>
                    <li data-filter=".filter-books">المشتريات</li>
                </ul><!-- End Portfolio Filters -->

                <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                        <img src="~/img/portfolio/app-11.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>نتائج الدورات</h4>
                            <p>دورة MS Access 2013</p>
                            <a href="~/img/portfolio/app-11.jpg" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                        <img src="~/img/portfolio/product-11.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>الانجازات</h4>
                            <p>تأهيل الوحدة 300 في التركيز الجديد</p>
                            <a href="~/img/portfolio/product-11.jpg" title="Product 1" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                        <img src="~/img/portfolio/branding-11.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>الإنتاج</h4>
                            <p>محطة النفط الرطب في باي حسن الشمالي</p>
                            <a href="~/img/portfolio/branding-11.jpg" title="Branding 1" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
                        <img src="~/img/portfolio/books-11.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>المشتريات</h4>
                            <p>نصب منظومة اطفاء الحرائق التلقائية</p>
                            <a href="~/img/portfolio/books-11.jpg" title="Branding 1" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                        <img src="~/img/portfolio/app-21.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>نتائج دورة</h4>
                            <p>دورة تكنولوجيا المضخات</p>
                            <a href="~/img/portfolio/app-21.jpg" title="App 2" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                        <img src="~/img/portfolio/product-21.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>الانجازات</h4>
                            <p>نصب منظومة GSM مع العدادات لأول مرة في الشركة</p>
                            <a href="~/img/portfolio/product-2.jpg" title="Product 2" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                        <img src="~/img/portfolio/branding-21.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>الإنتاج</h4>
                            <p>محطة النفط الرطب في باي حسن الشمالي</p>
                            <a href="~/img/portfolio/branding-21.jpg" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
                        <img src="~/img/portfolio/books-21.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>المشتريات</h4>
                            <p>لوحة إشارات التنبيه</p>
                            <a href="~/img/portfolio/books-21.jpg" title="Branding 2" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                        <img src="~/img/portfolio/app-31.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>نتائج دورة</h4>
                            <p>دورة تكنولوجيا المضخات2</p>
                            <a href="~/img/portfolio/app-31.jpg" title="App 3" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                        <img src="~/img/portfolio/product-31.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>الانجازات</h4>
                            <p>نصب معدات القياس وإجراء المعايرة</p>
                            <a href="~/img/portfolio/product-31.jpg" title="Product 3" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                        <img src="~/img/portfolio/branding-31.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>الإنتاج</h4>
                            <p>محطة النفط الرطب في باي حسن الشمالي</p>
                            <a href="~/img/portfolio/branding-31.jpg" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
                        <img src="~/img/portfolio/books-31.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>المشتريات</h4>
                            <p>متحسسات سرعة العنفة الغازية هيتاشي</p>
                            <a href="~/img/portfolio/books-31.jpg" title="Branding 3" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                </div><!-- End Portfolio Container -->

            </div>

        </div>

    </section><!-- /Portfolio Section -->
    <!-- Clients Section -->
    <section id="clients" class="clients section">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>زبائننا</h2>
            <p>زبائننا المشتركين في نظام NorthStorm ERP</p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row g-0 clients-wrap">

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="~/img/clients/client-1.jpg" class="img-fluid" alt="" width="250" height="250">
                </div><!-- End Client Item -->

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="~/img/clients/client-2.jpg" class="img-fluid" alt="" width="250" height="250">
                </div><!-- End Client Item -->

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="~/img/clients/client-3.jpg" class="img-fluid" alt="" width="250" height="250">
                </div><!-- End Client Item -->

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="~/img/clients/client-4.jpg" class="img-fluid" alt="" width="250" height="250">
                </div><!-- End Client Item -->

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="~/img/clients/client-5.jpg" class="img-fluid" alt="" width="250" height="250">
                </div><!-- End Client Item -->

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="~/img/clients/client-6.jpg" class="img-fluid" alt="" width="250" height="250">
                </div><!-- End Client Item -->

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="~/img/clients/client-7.jpg" class="img-fluid" alt="" width="250" height="250">
                </div><!-- End Client Item -->

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="~/img/clients/client-8.jpg" class="img-fluid" alt="" width="250" height="250">
                </div><!-- End Client Item -->

            </div>

        </div>

    </section><!-- /Clients Section -->

</main>