@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    ViewData["Title"] = "NorthStorm ERP - سياسة الخصوصية";
}

<main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
        <div class="container d-lg-flex justify-content-between align-items-center">
            <h1 class="mb-2 mb-lg-0">سياسية الخصوصية</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="~/">الرئيسية</a></li>
                    <li class="current">سياسة الخصوصية</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->

    <div class="container">
        <div class="row">

            <div class="col-lg-12">

                <!-- Blog Details Section -->
                <section id="blog-details" class="blog-details section">
                    <div class="container">

                        <article class="article">

                            <h2 class="title">سياسة خصوصية نظام NorthStorm ERP لشركة نفط الشمال</h2>

                            <div class="meta-top">
                                <ul>
                                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">فريق العمل</a></li>
                                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2020-01-01"> 20 / 7 / 2024</time></a></li>
                                </ul>
                            </div><!-- End meta top -->

                            <div class="content">
                                <p style="text-align:justify">
                                    تلتزم شركة نفط الشمال بحماية خصوصية مستخدمي نظام NorthStorm ERP وضمان سرية وأمان المعلومات الشخصية والمهنية. تهدف هذه السياسة إلى توضيح كيفية جمع واستخدام وحماية المعلومات الشخصية التي يتم جمعها من خلال استخدام النظام.

                                </p>


                                <h3 class="title">جمع المعلومات</h3>

                               <p style="text-align:justify">
                                    يقوم نظام NorthStorm ERP بجمع مجموعة متنوعة من المعلومات التي تشمل البيانات الشخصية والمهنية والتقنية. تتضمن المعلومات الشخصية الأسماء، وعناوين البريد الإلكتروني، وأرقام الهواتف، والمناصب الوظيفية للمستخدمين. كما يتم جمع المعلومات المهنية مثل سجلات العمل، وتفاصيل المهام اليومية، والتقارير المالية، وسجلات الإنتاج، وسجلات المخزون. بالإضافة إلى ذلك، يقوم النظام بجمع المعلومات التقنية مثل عنوان IP، ونوع المتصفح، وسجلات الدخول، ونشاط المستخدم داخل النظام.
                                </p>

                                <h3>استخدام المعلومات</h3>
                               <p style="text-align:justify">
                                    تُستخدم المعلومات التي يتم جمعها من خلال نظام NorthStorm ERP لتحقيق عدة أهداف رئيسية تساهم في تحسين كفاءة العمل وضمان أمن المعلومات. تُستخدم هذه المعلومات لإدارة العمليات داخل المؤسسة بشكل أكثر فعالية، حيث يتم تحسين وتنسيق جميع العمليات مثل المبيعات، والمشتريات، والإنتاج، والمخزون. كما تُستخدم لتحليل البيانات بهدف تقديم تحليلات دقيقة تساعد في اتخاذ قرارات مستنيرة وتحسين الكفاءة التشغيلية. تُستخدم المعلومات أيضًا لضمان أمان النظام من خلال حماية المعلومات من أي محاولات اختراق أو سوء استخدام. بالإضافة إلى ذلك، تُستخدم المعلومات للتواصل مع المستخدمين بشأن التحديثات والإشعارات المتعلقة بالنظام.
                                </p>

                                <h3>حماية المعلومات</h3>
                               <p style="text-align:justify">
                                    تلتزم شركة نفط الشمال باتخاذ كافة التدابير اللازمة لضمان حماية المعلومات الشخصية والمهنية من الوصول غير المصرح به، أو التعديل، أو الكشف، أو التدمير. يتم ذلك من خلال استخدام تقنيات التشفير لحماية البيانات أثناء نقلها وتخزينها، وتطبيق سياسات وإجراءات أمنية صارمة لضمان حماية المعلومات من أي تهديدات محتملة. كما يتم تدريب الموظفين على أهمية حماية المعلومات وكيفية التعامل معها بشكل آمن لضمان التزامهم بأفضل الممارسات الأمنية.
                                </p>

                                <h3>مشاركة المعلومات</h3>
                               <p style="text-align:justify">
                                    لن تقوم شركة نفط الشمال بمشاركة المعلومات الشخصية أو المهنية مع أطراف ثالثة إلا في حالات محددة وواضحة. تتضمن هذه الحالات موافقة المستخدم الصريحة على مشاركة المعلومات، حيث يتم ذلك فقط عندما يقدم المستخدم موافقته بشكل واضح وصريح. كما يمكن مشاركة المعلومات مع السلطات الحكومية أو الجهات القانونية عندما يتطلب القانون ذلك. بالإضافة إلى ذلك، قد يتم مشاركة المعلومات مع مقدمي الخدمات الذين يساعدون في تشغيل النظام وتحسينه، بشرط التزامهم الصارم بسرية المعلومات وضمان عدم استخدامها لأي أغراض غير مصرح بها.
                                </p>

                                <h3>حقوق المستخدمين</h3>
                               <p style="text-align:justify">
                                    للمستخدمين حقوق معينة تتعلق بمعلوماتهم الشخصية والمهنية التي يتم جمعها ومعالجتها من خلال نظام NorthStorm ERP. تشمل هذه الحقوق حق الوصول إلى المعلومات الشخصية التي يتم جمعها ومعالجتها، مما يتيح للمستخدمين معرفة نوعية المعلومات التي يتم جمعها عنهم وكيفية استخدامها. كما يحق للمستخدمين طلب تصحيح أي معلومات غير دقيقة أو غير كاملة لضمان دقة المعلومات المستخدمة. بالإضافة إلى ذلك، يحق للمستخدمين طلب حذف المعلومات الشخصية في بعض الحالات، مثل عندما تكون المعلومات لم تعد ضرورية للأغراض التي تم جمعها من أجلها.
                                </p>

                                <h3>التعديلات على السياسة</h3>
                               <p style="text-align:justify">
                                    تحتفظ شركة نفط الشمال بحق تعديل سياسة الخصوصية من وقت لآخر لمواكبة التغيرات في القوانين أو العمليات الداخلية أو التقنيات المستخدمة. سيتم إبلاغ المستخدمين بأي تغييرات جوهرية في سياسة الخصوصية من خلال إشعارات داخل النظام أو عبر البريد الإلكتروني لضمان أن يكونوا على دراية كاملة بأي تحديثات قد تؤثر على كيفية جمع واستخدام وحماية معلوماتهم الشخصية.
                                </p>

                                <h3>الاتصال بنا</h3>
                               <p style="text-align:justify">
                                    إذا كانت لديكم أي استفسارات أو طلبات تتعلق بسياسة الخصوصية، يرجى الاتصال بفريق الدعم الفني لشركة نفط الشمال عبر البريد الإلكتروني: support@northoilcompany.com. نحن ملتزمون بالرد على استفساراتكم وتلبية طلباتكم المتعلقة بحماية خصوصيتكم وأمان معلوماتكم.
                                </p>

                                <hr/>

                               <p style="text-align:justify">
                                    تؤكد شركة نفط الشمال على التزامها بحماية خصوصية وأمان معلومات المستخدمين، وتعرب عن تقديرها للثقة التي يضعها المستخدمون في نظام NorthStorm ERP. نؤكد على التزامنا بتقديم نظام آمن وفعال يلبي احتياجات شركتنا ويوفر حماية قصوى لمعلومات المستخدمين.
                                </p>
                            </div><!-- End post content -->

                            <div class="meta-bottom">
                                <i class="bi bi-folder"></i>
                                <ul class="cats">
                                    <li><a href="#">القانونية</a></li>
                                </ul>

                                <i class="bi bi-tags"></i>
                                <ul class="tags">
                                    <li><a href="#">سياسة الخصوصية</a></li>
                                    <li><a href="#">الالتزام الفانوني</a></li>
                                </ul>
                            </div><!-- End meta bottom -->

                        </article>

                    </div>
                </section><!-- /Blog Details Section -->
                <!-- Blog Author Section -->
                <section id="blog-author" class="blog-author section">

                    <div class="container">
                        <div class="author-container d-flex align-items-center">
                            <img src="~/Images/northstorm.png" class="rounded-circle flex-shrink-0" alt="">
                            <div>
                                <h4>فريق العمل</h4>
                                <div class="social-links">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="biu bi-instagram"></i></a>
                                </div>
                                <p>
                                    فريق عمل تطوير أنظمة NorthStorm ERP في شركة نفط الشمال
                                </p>
                            </div>
                        </div>
                    </div>

                </section><!-- /Blog Author Section -->

            </div>


        </div>
    </div>

</main>
