@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    ViewData["Title"] = "NorthStorm ERP - الدورات المنجزة";
}

<main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
        <div class="container d-lg-flex justify-content-between align-items-center">
            <h1 class="mb-2 mb-lg-0">الدورات المنجزة</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="~/">الرئيسية</a></li>
                    <li class="current">الدورات المنجزة</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->

    <div class="container">
        <div class="row">

            <div class="col-lg-12">

                <!-- Blog Posts Section -->
                <section id="blog-posts" class="blog-posts section">

                    <div class="container" >

                        <div class="row gy-4">

                            <div class="col-12">
                                <article>
                                    <div class="container centered-form">
                                        <form class="form-inline">
                                            <div class="mb-3 me-3">
                                                <h3 class="widget-title">أدخل رقم الشركة</h3>
                                                <input type="text" class="form-control" id="firstTextbox" placeholder="رقم الشركة">
                                            </div>
                                            <div class="mb-3">
                                                <h3 class="widget-title">أدخل الرمز الأمني</h3>
                                                <input type="text" class="form-control" id="secondTextbox" placeholder="الرمز الأمني">
                                            </div>
                                            <div class="w-100 text-center mt-3">
                                                <button type="submit" class="btn btn-danger">بـــحـــث</button>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                            </div>
                                        </form>
                                    </div>

         
                                </article>
                            </div><!-- End post list item -->

                        </div><!-- End blog posts list -->

                    </div>

                </section><!-- /Blog Posts Section -->

            </div>
        </div>
    </div>

</main>