@{
    Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
    ViewData["Title"] = "الصفحة الرئيسة";
}

<div class="text-center">
    <br/>
    <br />
    <h1 class="display-4">North Storm</h1>
    <br />
    <br />
    <h2 class="display-5">برنامج نظام الأفراد في شركة نفط الشمال</h2>
    <br />
    <br />
    <h3 class="display-6">أهلا وسهلا</h3>
    <br />
    <br />
    <p>تعلم المزيد عن <a href="https://learn.microsoft.com/aspnet/core"> برمجة تطبيق شبكي بإستخدام ASP.NET Core</a>.</p>
</div>
